body {
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
}

header {
}

.main {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.btn-add-book {
    font-size: 24px;
    padding: 10px 5px;
    width: 20%;
    align-self: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: red 1px solid;
    padding: 40px 20px;
}

.card-title {
    display: flex;
}

.delete-btn {
    float: right;
    width: 20px;
}

.divider {
    background-color: red;
    height: 1px;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    border: solid 1px red;
    width: 100vw;
    height: 100vh;
}

.modal-content {
    border: solid 1px red;
    margin: 15% auto;
    width: 400px;
}

form {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.form input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
}

