body {
    min-height: 100vh;
    background-color: #EEEEEE;
}

header {
}

.main {
    width: 1200px;
    background-color: aquamarine;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    border: solid 1px red;
    width: 100%;
    height: 100%;
}

.modal-content {
    border: solid 1px red;
    margin: 15% auto;
    width: 400px;
}

form {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.form input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: aqua;
    gap: 15px;
}

.book-card {
    border: red 1px solid;
    height: 270px;
    width:  200px;
}

